<!--<div class="col-sm-4 col-sm-offset-4">
    <div class="well" ng-controller="UserController">
        <h3>Login</h3>
        <form>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" >
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" >
            </div>
            <button class="btn btn-primary" >Submit</button>
            <button linked-in type="button">LinkedIn Login</button>
        </form>
    </div>
</div>-->



            <!--<div class="modal fade" ng-controller="UserController" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" align="center">
                           
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                             <a linked-in data-dismiss="modal"  class="btn btn-block btn-social btn-linkedin">
                                <i class="fa fa-linkedin"></i> Sign Up with LinkedIn
                            </a>
                           
                        </div>
                        <div id="div-forms">
                            <form id="login-form">
                                <div class="modal-body">
                                    <div id="div-login-msg">
                                        <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                                        <span id="text-login-msg">Type your username and password.</span>
                                    </div>
                                    <input id="login_username" class="form-control" type="text" placeholder="Username" required>
                                    <input id="login_password" class="form-control" type="password" placeholder="Password" required>
                                </div>
                                <div class="modal-footer">
                                    <div>
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                                    </div>
                                </div>
                            </form>
                            <form id="lost-form" style="display:none;">
                                <div class="modal-body">
                                    <div id="div-lost-msg">
                                        <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                                        <span id="text-lost-msg">Type your e-mail.</span>
                                    </div>
                                    <input id="lost_email" class="form-control" type="text" placeholder="E-Mail (type ERROR for error effect)" required>
                                </div>
                                <div class="modal-footer">
                                    <div>
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
                                    </div>
                                    <div>
                                        <button id="lost_login_btn" type="button" class="btn btn-link">Log In</button>
                                        <button id="lost_register_btn" type="button" class="btn btn-link">Register</button>
                                    </div>
                                </div>
                            </form>
            <script src="/js/login-model.js"></script>-->

              <!--<div class="modal fade" ng-controller="UserController" id="signup-modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">-->
                <div class="modal show" ng-controller="UserController" id="signup-modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" align="center">
                           
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                             <a linked-in data-dismiss="modal"  class="btn btn-block btn-social btn-linkedin">
                                <i class="fa fa-linkedin"></i> Sign Up with LinkedIn
                            </a>
                            <a class="btn btn-block btn-social btn-facebook">
                                <span class="fa fa-facebook"></span> Sign in with Facebook
                            </a>
                           
                        </div>
                        <div id="div-forms">
                            <form id="login-form">
                                <div class="modal-body">
                                    <div id="div-login-msg">
                                        <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                                        <span id="text-login-msg">Type your username and password.</span>
                                    </div>
                                    <input id="login_username" class="form-control" type="text" placeholder="Username" required>
                                    <input id="login_password" class="form-control" type="password" placeholder="Password" required>
                                </div>
                                <div class="modal-footer">
                                    <div>
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                                    </div>
                                </div>
                            </form>
                            </div>
                            <!--<form id="lost-form" style="display:none;">
                                <div class="modal-body">
                                    <div id="div-lost-msg">
                                        <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                                        <span id="text-lost-msg">Type your e-mail.</span>
                                    </div>
                                    <input id="lost_email" class="form-control" type="text" placeholder="E-Mail (type ERROR for error effect)" required>
                                </div>
                                <div class="modal-footer">
                                    <div>
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
                                    </div>
                                    <div>
                                        <button id="lost_login_btn" type="button" class="btn btn-link">Log In</button>
                                        <button id="lost_register_btn" type="button" class="btn btn-link">Register</button>
                                    </div>
                                </div>
                            </form>-->
                    </div>
                </div>
            </div>
            <!--<script src="/js/login-model.js"></script>-->
            