<form method="post" action="store" ng-controller="ProfileController" ng-init="get()">
    <div class="container">
        <div class="row" style="margin-top: 75px;">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="panel-title pull-left">Your photo</h3>
                        <br><br>
                        <div align="center">
                            <div class="col-lg-12 col-md-12">
                                <img class="img-thumbnail img-responsive" name='image_url' data-ng-src="{{imageUrl}}" width="300px" height="300px">
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <button class="btn btn-primary" type='file' name='image_url'><i class="fa fa-upload" aria-hidden="true"></i> Upload a new profile photo!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-12">
                                <label for="First_name">First name </label>
                                <input type="text" class="form-control" name="name" id="First_name" placeholder="John" value="" ng-model="username">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="sel1">Living In</label>
                                        <select ng-model="liveIncountries.model" class="form-control" name="country">
                                            <option ng-repeat="country in liveIncountries.availableOptions" value="{{country.value}}">{{country.title}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="Other">Other</label>
                                        <input type="text" class="form-control" name="country" id="Other" placeholder="Other" value="Other" ng-model="other">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="sel1">From</label>
                                         <select ng-model="countries.model" class="form-control" name="country">
                                            <option ng-repeat="country in countries.availableOptions" value="{{country.value}}">{{country.title}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="Other">Other</label>
                                        <input type="text" class="form-control" name="city" id="Other" placeholder="Other" value="Other">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="sel1">Time Zone</label>
                                          <select ng-model="timezone.model" class="form-control" name="country">
                                            <option ng-repeat="data in timezone.availableOptions" value="{{data.value}}">{{data.title}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <h2>{{created_at}} </h2>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <label>Your Birthday</label>
                        <div class="form-inline" id="birth-date">
                        <select ng-model="day.model" class="form-control" name="date">
                                <option ng-repeat="data in day.availableOptions" value="{{data.value}}">{{data.title}}</option>
                            </select>
                           
                            <select ng-model="month.model" class="form-control" name="date">
                                <option ng-repeat="data in month.availableOptions" value="{{data.value}}">{{data.title}}</option>
                            </select>
                           
                             <select ng-model="year.model" class="form-control" name="year">
                            <option ng-repeat="data in year.availableOptions" value="{{data.value}}">{{data.title}}</option>
                        </select>
                            <!--<select id="profile_date_day" name="dob" class="form-control">
                                <option value="" selected="selected">Day</option>
                            </select>-->
                        </div>

                        <label>Gender</label>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="" id="gender">
                                <select ng-model="gender.model" class="form-control" name="date">
                                    <option ng-repeat="data in gender.availableOptions" value="{{data.name}}">{{data.name}}</option>
                                </select> 
                                    
                                    <!--<select id="profile_date_year" name="gender" class="form-control input-large">
                                        <option value="" selected="selected">Gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>-->
                                </div>
                            </div>
                            <div class="col-lg-3">

                            </div>
                            <div class="col-lg-3 pull-right">
                                <button type="button" class="btn btn-danger" name="submit" id="submit" style="float: right;" ng-click="save()">Save</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="panel-title pull-left">Languages</h3>
                        <br><br>

                        <input type="text" class="form-control" name="langugae" id="keywords" placeholder="Like #movies #kittens #travel #teacher #newyork">

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="panel-title pull-left">Student Profile Information</h3>
                        <br><br>
                        <!--<div class="row">
                            <div class="col-sm-3">
                                <label>What are you looking for</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="usr">
                            </div>
                        </div><br>-->
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Student Short Introduction</label>
                            </div>
                            <div class="col-sm-9">
                                <textarea class="form-control" ng-model="short_info" name="short_info" rows="5" id="comment"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Student Long Introduction</label>
                            </div>
                            <div class="col-sm-9">
                                <textarea class="form-control" ng-model="long_info" name="long_info" rows="5" id="comment"></textarea>
                            </div>
                        </div><br>

                        <div class="row">
                            <div class="col-lg-12 pull-right">
                                <button type="button" name="submit" id="submit" class="btn btn-danger" style="float: right;" ng-click="save()">Save</button>
                            </div>
                        </div>

                        
                            <input type="text" class="form-control" id="keywords" placeholder="Like #movies #kittens #travel #teacher #newyork">
                        
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="panel-title pull-left">Edit Communication Tools</h3>
                        <br><br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Skype</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" name="skype_id" ng-model="skype_id" class="form-control" id="usr">
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Facetime</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" name="face_time" ng-model="face_time" class="form-control" id="usr">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Google Hangouts</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" name="google_id" ng-model="google_id" class="form-control" id="usr">
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label>QQ</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" name="qq" ng-model="qq" class="form-control" id="usr">
                            </div>
                        </div><br>

                        <div class="row">
                            <div class="col-lg-12 pull-right">
                                <button type="button" name="submit" id="submit" class="btn btn-danger" style="float: right;" ng-click="save()">Save</button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>



    </div>
</form>