
<div ng-app="convopal">
    <div ng-controller="TeacherDashboardController" ng-init="get()">
      
      <div class="mainbody container">
    <div class="row">
        
        <div style="padding-top:50px;"> </div>

        

            <div class="col-sm-6 col-md-12 well-profile">
                <div class="col-xs-12 col-sm-3 text-center">
                    <figure>
                        <img data-ng-src="{{imageUrl}}" alt="" class="img-circle img-responsive" style=" width: 177px;">
                        
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h2>{{username}}</h2>
                    <p><strong>About: </strong> Web Designer / UI. </p>
                    <figcaption class="ratings">
                            <p>Ratings
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                 <span class="fa fa-star-o"></span>
                            </a> 
                            </p>
                        </figcaption>
                        <div class="row">
                        <div class="col-xs-12 divider text-center">
                
                            <div class="col-xs-12 col-sm-6 emphasis">
                                <h2><strong>245</strong></h2>                    
                                <p><small>No of conversation</small></p>
                                <!--<button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>-->
                            </div>
                            <div class="col-xs-12 col-sm-6 emphasis">
                                <h2><strong>$43</strong></h2>                    
                                <p><small>30 minute rate</small></p>
                            
                            </div>
                        
                        
                        
                            </div>
                    </div>
                 </div>
            
                

                  <div class="col-xs-12 col-sm-3 text-center">
                      <button type="button" class="btn btn-warning btn-lg">Dashboard</button>
                   </div>    

                   <!--summary-->

                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divider">
                       <h2>Summary</h2>
                       <p>Hello! I`m Julia, a native Russian speaker and a professional teacher of Russian as a foreign language. I have a master`s degree in education and philology. 
                    In Russia I worked as a Teacher of Russian and taught literature in a secondary school. Also I worked as a teacher of journalism in a Center of Additional Education. Now I`m travelling and teaching online.<br>

                    For my professional lessons you do not need any books, because I will give you learning according to your needs, it is could be grammar materials, texts, dialogues, news, songs, jokes, movies, cartoons, serials, 
                    talk shows, MOOCs, texts of classic or modern Russian literature and many other things.<br>

                    ATTENTION, please! Informal Tutoring it is not Professional lessons. It is a conversational, listening and reading practice, assistance with homework or proofreading. 
                    I expect students to come with their own materials and questions to ask. Please, book your lessons accordingly.<br>

                    ***Non-attendance policy: If you are not in attendance within 20 minutes after a session begins, the lesson will be completed and I will collect full payment for this lesson. The lesson will end on time, even if you show up late. 
                    ***Lesson cancellation policy: 24-hour notice is needed for a lesson to be canceled. If less than 24-hour notice is given, it will still be necessary for you to pay for the lesson. 
                    ***Reschedule policy: I will happily refund a lesson if you ask to reschedule it within 24 hours of the scheduled lesson time, but I will do it only ONCE. I schedule my days; based on my prearranged lessons. Since you, as my student, choose the time for your lesson, please be considerate of my time.
                    *Note, please! I will end 2-3 minutes early to prepare if I have another lesson.<br>

                    Please, feel free to contact me and book a trial lesson.<br>
                    See you soon!</p>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-xs-9 text-center">
                        <div class="embed-responsive embed-responsive-16by9">
                            <video data-ng-src="{{video_url}}"  autoplay controls></video>
                        </div>
                        </div>
                     </div>
                    </div>

                    <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                          <h1> Work Experince</h1>
                        </div>

                     </div>
                     <div class="row">
                        <div class="col-xs-12">
                          <h4> Altai State Academy of Education - Russia, Altai krai, Biysk2013 - 2015</h4>
                          <h5>Master's - Master of Pedagogical education and Philology </h5>
                        </div>
                        
                     </div>
                       
                       <div class="row">
                        <div class="col-xs-12">
                          <h4> Altai State Academy of Education - Russia, Altai krai, Biysk2013 - 2015</h4>
                          <h5>Master's - Master of Pedagogical education and Philology </h5>
                        </div>
                        
                     </div>

                     <div class="row">
                        <div class="col-xs-12">
                          <h4> Altai State Academy of Education - Russia, Altai krai, Biysk2013 - 2015</h4>
                          <h5>Master's - Master of Pedagogical education and Philology </h5>
                        </div>
                        
                     </div>

                    </div>

                
    	    </div>
       
          
        
    </div>
</div>

    </div>
</div>
<!-- <script src="{{ asset("angular/controllers/MainController.js") }}"></script> -->
